@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

#form1-5 .mbr-header__text {
  text-align: left;
  font-family: 'Droid Sans', sans-serif;
  color: #9365b8;
}
#form1-5 .btn {
  font-size: 16px;
}
